<header>
	<article>
		<div class="logo">
			<h1>
				{{#link-to "leads"}}
					Ember CRM - Edited (SQlite3,JS,Handlebars)
				{{/link-to}}
			</h1>
			<section id="main">
				{{outlet}}
			</section>
		</div>
	</article>
</header>
<footer>
	
</footer>


{{!-- Emblem --}}
{{!--

header
  article
    .logo
      h1
        = link-to 'leads' | Ember CRM

section#main
  = outlet

footer

 --}}
